* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #fafafa;
}

.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  width: 380px;
  padding: 45px;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
}

#fix1{
    margin-bottom: 20px;
}


.logo {
  font-size: 28px;
  font-weight: 700;
  color: #111;
  margin-bottom: 8px;
}

.subtitle {
  color: #777;
  margin-bottom: 35px;
  font-size: 14px;
}

.auth-box input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #ddd;
  padding: 14px 2px;
  margin-bottom: 20px;
  font-size: 15px;
  background: transparent;
  outline: none;
}

.auth-box input:focus {
  border-bottom: 1px solid #111;
}

.auth-box button {
  width: 100%;
  padding: 14px;
  background: #111;
  color: white;
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
  transition: 0.2s;
}

.auth-box button:hover {
  opacity: 0.9;
}

.admin-btn {
  background: transparent;
  color: #111;
  border: 1px solid #ddd;
  margin-top: 12px;
}

.admin-btn:hover {
  background: #f5f5f5;
}

.auth-box p {
  text-align: center;
  margin-top: 24px;
  color: #666;
  font-size: 14px;
}

.auth-box a {
  color: #111;
  text-decoration: none;
  font-weight: 600;
}